
<div class="container">
    <div class="row">
        <div class="span4 well">
            <div class="row">
                <div class="span3">
                    <h1 id="wordId">
                        عن سيبويه
                    </h1>

                    <p style="font-size: large;">
                        معجم للغة العربية وتصاريفها, وقد تم اعداد عمليات البحث بحيث يتم تصفية النتائج حسب الاستخدام والمجال.
                    </p>

                    <p style="font-size: large;">
                        استعنا بالقاموس العربي العربي ببعض القواميس المشهورة, مثل معجم الاعشاب والمعجم الوسيط ومعجم الغنيومعجم اللغة العربية المعاصرة
                        <br>
                        ومعجم مختار الصحاح ومعجم المصطلحات الفقهية
                       <br>
                        ومعجم معاني الاسماء ومعجم الاصوات
                    </p>


                </div>
            </div>


        </div>

    </div>

</div>