
<div class="container">

    <center>
    <div class="form-group" style="width:50%;">
        <input type="search" value="" id="wordToSearch" style="text-align: center;" class="form-control col-sm-6" placeholder="ابحث عن كلمة.." />
        <button type="button" id="searchBtn" class="btn btn-primary">ابحث</button>
    </div>
    </center>

    <center>
        <iframe style="float: left" width="300" height="315" src="https://www.youtube.com/embed/cSQovAsNeR8" frameborder="0" allowfullscreen></iframe>
    </center>


    <span>
        <h1>
            شرح عملية البحث في نظام سيبويه
        </h1>

    </span>
    <span class="row">
        <div class="span4 well col-md-8" style="float: right;">
            <div class="row">
                <div class="span3">
                    <h1>
                        الكلمة
                    </h1>
                    <h2 >
                        الجذر
                    </h2>
                    <h3>
                        الوصف
                    </h3>
                    <span class=" badge badge-warning wordBtn">
                        الاسم
                    </span>
                    <span class=" badge badge-info wordBtn">
                        الفعل
                    </span>

                    <span  style="position: relative; float: left; left: 5px;">
                        من هنا يمكنك سماع الكلمة بالصوت
                        <input
                                style="background: transparent 0px"
                                onclick='readText(lastWord)' type='button' value='🔊 تشغيل' />
                    </span>
                </div>
            </div>


        </div>

    </span>

</div>



