
<div class="container">
    <div class="row">
        <div class="span4 well">
            <div class="row">
                <div class="span3">
                    <h1>
                       اتصل بنا
                    </h1>

                    <div class="contact-us">
                        <img src="images/phone.ico" width="50px">
                        <span style="font-size: 24px;">665-778-666-001</span>
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                    <div class="contact-us">
                        <img src="images/email.png" width="50px">
                        <span style="font-size: 24px;">saibawayh@saibawayh.com</span>
                    </div>

                </div>
            </div>


        </div>

    </div>

</div>